In [2]:
import os

import pandas as pd
pd.set_option('display.max_rows', 6) #??
pd.set_option('display.notebook_repr_html', True) #??
pd.set_option('display.max_columns', 10) #??

In [3]:
df = pd.read_csv('shelter-animal-outcomes.csv.gz')

In [18]:
df.shape

(26729, 10)

In [19]:
df

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan
5,A677334,Elsa,2014-04-25 13:04:00,Transfer,Partner,Dog,Intact Female,1 month,Cairn Terrier/Chihuahua Shorthair,Black/Tan
6,A699218,Jimmy,2015-03-28 13:11:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Tabby
7,A701489,NaN,2015-04-30 17:02:00,Transfer,Partner,Cat,Unknown,3 weeks,Domestic Shorthair Mix,Brown Tabby
8,A671784,Lucy,2014-02-04 17:17:00,Adoption,NaN,Dog,Spayed Female,5 months,American Pit Bull Terrier Mix,Red/White
9,A677747,NaN,2014-05-03 07:48:00,Adoption,Offsite,Dog,Spayed Female,1 year,Cairn Terrier,White
10,A668402,NaN,2013-12-05 15:50:00,Transfer,SCRP,Cat,Unknown,2 years,Domestic Shorthair Mix,Black
11,A666320,NaN,2013-11-04 14:48:00,Adoption,NaN,Dog,Spayed Female,2 years,Miniature Schnauzer Mix,Silver
12,A684601,Rocket,2016-02-03 11:27:00,Adoption,Foster,Dog,Neutered Male,4 years,Pit Bull Mix,Brown
13,A704702,Scooter,2015-06-08 16:30:00,Return_to_owner,NaN,Dog,Neutered Male,2 years,Yorkshire Terrier Mix,Black/Red
14,A688584,Preston,2015-11-25 15:00:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Great Pyrenees Mix,White/Cream
...,...,...,...,...,...,...,...,...,...,...
26714,A679031,Pete,2014-05-31 16:11:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Orange Tabby
26715,A708833,Luna,2015-08-05 17:03:00,Adoption,NaN,Dog,Spayed Female,2 months,Pointer Mix,Black/White
26716,A697158,Max,2015-05-02 21:04:00,Adoption,Offsite,Dog,Neutered Male,2 months,Newfoundland Mix,White/Black
26717,A519949,Bella,2014-06-30 17:34:00,Return_to_owner,NaN,Dog,Spayed Female,9 years,Bullmastiff Mix,Black
26718,A701044,NaN,2015-04-28 14:26:00,Adoption,NaN,Dog,Neutered Male,2 months,Siberian Husky/German Shepherd,Black/Tricolor
26719,A707871,NaN,2015-07-20 09:00:00,Transfer,SCRP,Cat,Unknown,2 years,Domestic Shorthair Mix,Brown Tabby/White
26720,A704405,Brownie,2015-07-18 14:08:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Brown Tabby
26721,A662019,Green Bean,2014-07-17 09:43:00,Adoption,Foster,Cat,Spayed Female,5 years,Domestic Shorthair Mix,Black
26722,A687056,NaN,2014-08-31 09:00:00,Transfer,SCRP,Cat,Intact Male,5 months,Domestic Shorthair Mix,Orange Tabby
26723,A716997,Zeus,2016-01-29 18:52:00,Adoption,NaN,Dog,Neutered Male,6 years,Staffordshire Mix,Blue/White
26724,A702446,NaN,2015-05-14 11:56:00,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair Mix,Brown Tabby/White
26725,A718934,NaN,2016-01-20 18:59:00,Transfer,SCRP,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Brown Tabby
26726,A698128,Zeus,2015-03-09 13:33:00,Adoption,NaN,Dog,Neutered Male,4 years,Old English Bulldog Mix,White/Tan
26727,A677478,NaN,2014-04-27 12:22:00,Transfer,Partner,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Black
26728,A706629,NaN,2015-07-02 09:00:00,Transfer,SCRP,Cat,Intact Male,1 year,Domestic Shorthair Mix,Brown Tabby/White

In [30]:
df.shape

(26729, 10)

KeyError: 2

In [37]:
df.AnimalID.unique().shape

(26729L,)

In [40]:
df.Name.value_counts()

Max            136
Bella          135
Charlie        107
Daisy          106
Lucy            94
Buddy           87
Princess        86
Rocky           85
Luna            68
Jack            66
Lola            61
Sadie           58
Molly           57
Shadow          57
Maggie          55
              ...
Butterball       1
Huitzi           1
Billy Bob        1
Guru Ramdas      1
Mr.Cookie        1
Tabs             1
Eedo             1
Marlyin          1
Meerkat          1
Tugga            1
Sally Jessy      1
Nelda            1
Hobie Cat        1
Madi             1
Sumi             1
Name: Name, dtype: int64

In [42]:
df.DateTime.unique().shape

(22918L,)

In [43]:
df.DateTime.value_counts()

2015-08-11 00:00:00    19
2015-11-17 00:00:00    17
2015-07-02 00:00:00    13
2015-04-02 00:00:00    11
2014-08-31 09:00:00    10
2015-11-23 00:00:00     9
2016-02-15 00:00:00     9
2015-09-11 00:00:00     9
2014-08-26 09:00:00     9
2014-06-21 09:00:00     8
2014-08-17 09:00:00     8
2014-07-16 09:00:00     8
2015-08-03 00:00:00     8
2014-09-06 09:00:00     8
2015-09-01 00:00:00     8
                       ..
2014-03-02 16:21:00     1
2014-02-07 16:45:00     1
2015-09-15 18:39:00     1
2014-11-23 17:49:00     1
2015-10-03 15:36:00     1
2015-12-20 18:30:00     1
2015-07-08 17:52:00     1
2015-01-19 14:30:00     1
2014-07-16 17:33:00     1
2014-11-09 17:40:00     1
2014-08-01 07:51:00     1
2014-06-24 08:13:00     1
2014-04-15 14:08:00     1
2014-08-24 15:00:00     1
2015-11-07 14:06:00     1
Name: DateTime, dtype: int64

In [50]:
df.DateTime[-1:]

26728    2015-07-02 09:00:00
Name: DateTime, dtype: object

In [52]:
a = '2015-07-02 09:00:00'

In [54]:
df.OutcomeType.unique()

array(['Return_to_owner', 'Euthanasia', 'Adoption', 'Transfer', 'Died'], dtype=object)

In [55]:
df.OutcomeType.value_counts()

Adoption           10769
Transfer            9422
Return_to_owner     4786
Euthanasia          1555
Died                 197
Name: OutcomeType, dtype: int64

In [56]:
df.OutcomeSubtype.unique()

array([nan, 'Suffering', 'Foster', 'Partner', 'Offsite', 'SCRP',
       'Aggressive', 'Behavior', 'Rabies Risk', 'Medical', 'In Kennel',
       'In Foster', 'Barn', 'Court/Investigation', 'Enroute', 'At Vet',
       'In Surgery'], dtype=object)

In [58]:
pd.crosstab(df.OutcomeSubtype, df.OutcomeType)

OutcomeType     Adoption  Died  Euthanasia  Transfer
OutcomeSubtype
Aggressive             0     0         320         0
At Vet                 0     4           0         0
Barn                   1     0           0         1
...                  ...   ...         ...       ...
Rabies Risk            0     0          74         0
SCRP                   0     0           0      1599
Suffering              0     0        1002         0

[16 rows x 4 columns]

In [59]:
df.columns

Index([u'AnimalID', u'Name', u'DateTime', u'OutcomeType', u'OutcomeSubtype',
       u'AnimalType', u'SexuponOutcome', u'AgeuponOutcome', u'Breed',
       u'Color'],
      dtype='object')

In [61]:
df.SexuponOutcome.unique()

array(['Neutered Male', 'Spayed Female', 'Intact Male', 'Intact Female',
       'Unknown', nan], dtype=object)

In [81]:
df1 = df[(df.AnimalType == 'Dog') & ((df.SexuponOutcome == 'Intact Male') | (df.SexuponOutcome == 'Neutered Male'))]

In [84]:
df1.Name.value_counts()

Max        112
Buddy       78
Rocky       76
          ...
Yoakum       1
Frisbee      1
Leeland      1
Name: Name, dtype: int64

In [25]:
def my_sex(sex):
    if sex == 'Intact Male':
        return 'Male'
    elif sex == 'Neutered Male':
        return 'Male'
    elif sex == 'Intact Female':
        return 'Female'
    elif sex == 'Spayed Female':
        return 'Female'
    else:
        return 'NaN'

In [28]:
def sterilized(x):
    if x == 'Neutered Male':
        return True
    elif x == 'Spayed Female':
        return True
    elif x == 'Intact Female':
        return False
    elif x == 'Intact Male':
        return False
    else:
        return 'NaN'

In [27]:
df['Sex'] = df.SexuponOutcome.apply(my_sex)

In [29]:
df['Sterilized'] = df.SexuponOutcome.apply(sterilized)

In [30]:
df

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,...,AgeuponOutcome,Breed,Color,Sex,Sterilized
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,...,1 year,Shetland Sheepdog Mix,Brown/White,Male,True
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,...,1 year,Domestic Shorthair Mix,Cream Tabby,Female,True
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,...,2 years,Pit Bull Mix,Blue/White,Male,True
...,...,...,...,...,...,...,...,...,...,...,...
26726,A698128,Zeus,2015-03-09 13:33:00,Adoption,NaN,...,4 years,Old English Bulldog Mix,White/Tan,Male,True
26727,A677478,NaN,2014-04-27 12:22:00,Transfer,Partner,...,4 weeks,Domestic Shorthair Mix,Black,Male,False
26728,A706629,NaN,2015-07-02 09:00:00,Transfer,SCRP,...,1 year,Domestic Shorthair Mix,Brown Tabby/White,Male,False

In [ ]:
def spliting(age):
    (value, unit) = age.split(" ")
    value = float(value)
    if ((unit == 'day') | (unit == 'days')):
        return value
    elif ...