# DS-SF-25 | Lab 02 - Research Design and `pandas`

> ## Question 1.  Import `pandas` (as `pd`).

In [4]:
import os

import pandas as pd
pd.set_option('display.max_rows', 6)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [5]:
df = pd.read_csv(os.path.join('..', 'datasets', 'ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [6]:
df

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
..     ...      ...   ...   ...    ...  ...
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

> ## Question 3.  How many samples (i.e., rows) are in this dataset?

In [7]:
df.shape

(153, 6)

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [9]:
df.columns

Index([u'Ozone', u'Solar.R', u'Wind', u'Temp', u'Month', u'Day'], dtype='object')

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [10]:
df.shape

(153, 6)

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [13]:
df[0:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [20]:
df[-2:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [25]:
df.iloc[47]

Ozone       37.0
Solar.R    284.0
Wind        20.7
Temp        72.0
Month        6.0
Day         17.0
Name: 47, dtype: float64

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [30]:
df[df.Ozone.isnull()].shape[0]

37

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [31]:
sum(df.Ozone)/(df[df.Ozone].shape[0] - df[df.Ozone.isnull].shape[0])

KeyError: '[  41.   36.   12.   18.   nan   28.   23.   19.    8.   nan    7.   16.\n   11.   14.   18.   14.   34.    6.   30.   11.    1.   11.    4.   32.\n   nan   nan   nan   23.   45.  115.   37.   nan   nan   nan   nan   nan\n   nan   29.   nan   71.   39.   nan   nan   23.   nan   nan   21.   37.\n   20.   12.   13.   nan   nan   nan   nan   nan   nan   nan   nan   nan\n   nan  135.   49.   32.   nan   64.   40.   77.   97.   97.   85.   nan\n   10.   27.   nan    7.   48.   35.   61.   79.   63.   16.   nan   nan\n   80.  108.   20.   52.   82.   50.   64.   59.   39.    9.   16.   78.\n   35.   66.  122.   89.  110.   nan   nan   44.   28.   65.   nan   22.\n   59.   23.   31.   44.   21.    9.   nan   45.  168.   73.   nan   76.\n  118.   84.   85.   96.   78.   73.   91.   47.   32.   20.   23.   21.\n   24.   44.   21.   28.    9.   13.   46.   18.   13.   24.   16.   13.\n   23.   36.    7.   14.   30.   nan   14.   18.   20.] not in index'

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [ ]:
# TODO

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [ ]:
# TODO

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [ ]:
# TODO

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [ ]:
# TODO